@import './configs/**/*';
@import './atoms/*';
@import './molecules/**/*';

html {
  scroll-behavior: smooth;
}

body .layout-container {
  position: relative;
  @include bg-full-screen-width('before', $bg-color);
}

header {
  .region-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 10;
    width: 1052px;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: $bg-color;
    @include bg-full-screen-width('before', rgba(0, 0, 0, 0.25));

    nav.menu--main {
      font-weight: $font-weight-500;

      ul.menu {
        display: flex;

        li a {
          text-transform: uppercase;

          &:hover {
            position: relative;
            @include h-seperator('after', $color-blue-lighter, 100%, -7px);
          }
        }
      }
    }

    .block-system-branding-block {
      display: flex;
      align-items: center;

      .site-slogan {
        margin-left: 29px;
        font-size: $font-size-h2;
        font-weight: $font-weight-bold;

        span {
          font-weight: $font-weight-light;
        }
      }
    }
  }
}

main {
  .agiledrop-content-full-top-content-header {
    height: 724px;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;

    h2 {
      position: relative;

      &:after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -35px;
        border-radius: 3px;
        opacity: 0.4;
        border: 1px solid #FFFFFF;
      }
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;

      .field--type-link {


        a {
          @include button();
        }
      }
    }
  }

  #block-adchallenge-content {
    max-width: 1052px;
    margin: 123px auto 58px;

    > h2 {
      font-size: $font-size-h2-overview;
      position: relative;
      text-transform: uppercase;
      @include h-seperator('after', $color-blue-lighter, 100px, -24px);
    }

    .view-display-id-page_front {
      .view-content {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-top: 1rem;

        .views-row {
          position: relative;
          margin-left: .9375rem;
          margin-right: .9375rem;
          margin-top: 1.875rem;
          min-height: 1px;
          width: calc(33.33333% - 1.875rem);
          flex: 0 0 calc(33.33333% - 1.875rem);
          flex-basis: calc(33.33333% - 1.875rem);

          &:nth-child(odd) {
            .node--view-mode-teaser {
              .node__content {
                .node__links {
                  .node-readmore {
                    @include font-awesome-icon('after', '\203A', $color-blue-lighter);

                  }
                }
              }
            }
          }

          &:nth-child(even) {
            .node--view-mode-teaser {
              .node__content {
                .node__links {
                  .node-readmore {
                    @include font-awesome-icon('after', '\203A', $color-red);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .agiledrop-content-full-lastest-event,
  .agiledrop-content-full-about-me {

    padding-top: 103px;
    padding-bottom: 103px;

    .container {
      display: flex;
      flex-direction: row;
    }
  }

  .agiledrop-content-full-lastest-event {
    position: relative;

    .content-right {
      margin-left: 61px;

      h2 {
        font-size: $font-size-h2-overview;
        position: relative;
        @include h-seperator('after', $color-blue-lighter, 100px, -24px);
      }

      .field--name-body {
        margin-top: 4rem;
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;

        * {
          color: $color-light-grey;
          line-height: 30px;
          font-weight: 300;
        }
      }
    }

    @include bg-full-screen-width('before', $bg-color-blue);
  }

  .agiledrop-content-full-about-me {
    position: relative;

    .container {
      padding-top: 103px;
      padding-bottom: 103px;
    }

    .content-left {
      h2 {
        font-size: $font-size-h2-overview;
        position: relative;
        @include h-seperator('after', $color-blue-lighter, 100px, -24px);
      }

      .field--name-body {
        margin-top: 4rem;
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;

        * {
          color: $color-light-grey;
          line-height: 30px;
          font-weight: 300;
        }
      }
    }

    .img-right {
      margin-left: 20px;
      position: relative;

      .field--name-field-image {
      }

      @include square('before', 330px, 330px, $bg-color-blue-3);
      @include square('after', 150px, 150px, $bg-color-dark-purple);

      &:after {
        right: -75px;
        transform: rotate(45deg);
        bottom: -72px;
      }

      &:before {
        left: -160px;
        z-index: -1;
        top: -80px;
      }
    }
  }
}

footer {
  .region-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .menu--footer {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    .menu {
      .menu-item a {
        font-weight: 300;
        color: $color-grey;
      }
    }

    @include bg-full-screen-width('before', $bg-color-blue-3);
  }

  #block-footercreated {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;

    .field--name-body {
      * {
        text-align: center;
        color: $color-light-grey;
        font-weight: 300;
      }

      a {
        text-decoration: underline;
        font-weight: $font-weight-normal;
      }
    }

    @include bg-full-screen-width('before', $bg-color-blue-2);

  }

}

ul.menu {
  display: flex;
  justify-content: center;

  li {
    padding-left: 10px;
    padding-right: 10px;

    a {
      text-decoration: none;
      font-size: $font-size-normal;
    }
  }
}
