$bg-color: black;
$bg-color-blue: #161E21;
$bg-color-blue-2: #1E2C2E;
$bg-color-blue-3: #0F2123;
$bg-color-dark-purple: #1D1524;
$color-white: #FFFFFF;
$color-red: #FF5252;
$color-grey: #949494;
$color-light-grey: #D5D5D5;
$color-blue-lighter: #0097A7;
