@mixin bg-full-screen-width($position, $color) {
  &:#{$position} {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin-left: calc((-100vw + 100%) / 2);
    height: 100%;
    width: 100vw;
    background-color: $color;
    z-index: -2;
  }
}

@mixin h-seperator($position, $color, $width, $bottom-position) {
  &:#{$position} {
    content: '';
    width: $width;
    border-bottom: 3px solid $color;
    position: absolute;
    left: 0;
    bottom: $bottom-position;
  }
}

@mixin button($type:'default', $background: $color-red, $color: $color-white) {
  cursor: pointer;
  text-align: center;
  background: $background;
  color: $color;
  border-radius: 5px;
  width: 180px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: $font-weight-500;
  text-transform: uppercase;
  font-size: $font-size-normal;
}

@mixin font-awesome-icon($position, $icon, $color) {
  &:#{$position} {
    content: $icon;
    font-size: 30px;
    font-weight: 100;
    color: $color;
    margin-left: 5px;
    position: absolute;
    top: -11px;
  }
}

@mixin square($position, $width, $height, $color) {
  &:#{$position} {
    content: '';
    position: absolute;
    width: $width;
    height: $height;
    background: $color;
    z-index: -1;
  }
}
